<!-- About Section -->
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Committee</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <style>
                    .about_box {
                        margin-bottom: 40px;
                        padding-bottom: 30px;
                    }
                    .committee_member {
                        padding-left: 10%;
                        font-size: 30px;
                        line-height: 40px;
                        margin-bottom: 5%;
                    }
                    .committee_name {
                        font-size: 25px;
                        line-height: 30px;
                        font-weight: bold;
                    }
                </style>
                <div class="about_box">

                        <style>
                            .about-li {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 10px 0 10px 0;
                                margin-top: 20px;
                                margin-bottom: 20px;

                            }
                            .com-img {
                                width: 220px;
                                height: 220px;
                            }
                            .com-span {
                                width: 750px;
                                margin-left: 20px;
                                font-size: 15px;
                                line-height: 20px;
                                font-weight: bold;
                            }
                        </style>
                        <ul>
                            <li class="about-li">
                                <a href="https://people.ucas.edu.cn/~wenjianqin?language=en" target="_blank">
                                    <img class="com-img" src="css/2017_style/img/committee/Qin.jpg">
                                </a>
                                <span class="com-span">
                                    <h class="committee_name">Dr. Wenjian Qin,</h><br>
                                    Shenzhen Institute of Advanced Technology, Chinese Academy of Sciences,China<br>
                                </span>
                            </li>

                            <li class="about-li">
                                <a href="https://faculty.uaeu.ac.ae/nzaki/" target="_blank">
                                    <img class="com-img" src="css/2017_style/img/committee/Nazar.jpg">
                                </a>
                                <span class="com-span">
                                    <h class="committee_name">Dr. Nazar Zaki,</h><br>
                                    United Arab Emirate University, United Arab Emirate<br>
                                </span>
                            </li>
                            <li class="about-li">
                                <a href="http://www.ict.cas.cn/sourcedb_2018_ict_cas/cn/jssrck/200909/t20090917_2496774.html" target="_blank">
                                    <img class="com-img" src="css/2017_style/img/committee/Zhang.jpg">
                                </a>
                                <span class="com-span">
                                    <h class="committee_name">Dr. Fa Zhang,</h><br>
                                    Institute of Computing Technology, Chinese Academy of Sciences, China<br>
                                </span>
                            </li>
                            <li class="about-li">
                                <a href="https://faculty.mdanderson.org/profiles/jia_wu.html" target="_blank">  
                                    <img class="com-img" src="css/2017_style/img/committee/Wu.jpg">
                                </a>  
                                <span class="com-span">
                                    <h class="committee_name">Dr. Jia Wu,</h><br>
                                    University of Texas MD Anderson Cancer Center, USA<br>
                                </span>
                            </li>
                            <li class="about-li">
                                <a href="https://teacher.ucas.ac.cn/~fanyangsiat?language=en" target="_blank">
                                    <img class="com-img" src="css/2017_style/img/committee/Yang.jpg">
                                </a>
                                <span class="com-span">
                                    <h class="committee_name">Dr. Fan Yang,</h><br>
                                    Shenzhen Institute of Advanced Technology, Chinese Academy of Sciences, China<br>
                                </span>
                            </li>

                            <li class="about-li">
                                <a href="https://www.neurosurg.cam.ac.uk/research-groups/brain-tumour-imaging-lab/2988-2/dr-chao-li/" target="_blank">
                                    <img class="com-img" src="css/2017_style/img/committee/Chao Li.jpg">
                                </a>
                                <span class="com-span">
                                    <h class="committee_name">Dr. Chao Li,</h><br>
                                    University of Cambridge, England<br>
                                    </span>
                            </li>
                        </ul>

                </div>    
            </div>
            <div class="row">
                <div class = "paragraph">
                    <h1 id="introph1">Steering Committee:</h1>
                </div>
                <p class ="committee_member">
                    Prof. Dinggang Shen (ShanghaiTech University, China)<br>
                    Prof. Lei Xing (Stanford University, United States)<br>
                    Prof. Tianming Liu (University of Georgia, United States)<br>
                    Prof. Dong Ni (Shenzhen University, China)<br>
                    Prof. Jing Cai (Hong Kong Polytechnic University, China)<br>
                    Prof. Hairong Zheng (Shenzhen Institute of Advanced Technology, Chinese Academy of Sciences, China)<br>
                    Prof. Shuo Li(Case Western Reserve University, United States)<br>
                </p>
            </div>
            <div class="row">
                <div class = "paragraph">
                    <h1 id="introph1">Program Committee:</h1>
                </div>
                <p class ="committee_member">
                    Yaoqing Xie (Shenzhen Institute of Advanced Technology, Chinese Academy of Sciences, China)<br>
                    Wei Zhao (Beihang University, China)<br>
                    Xiu Nie (female, Union Hospital, Tongji Medical College, Huazhong University of Science and Technology, China)<br>
                    Erlei Zhang (Northwest A&F University, China)<br>
                    Xiaoying Tang (Female, Southern University of Science and Technology, China)<br>
                    Xing Lu ( Zhuhai Sanmed Biotech Inc, China)<br>
                </p>
            </div>
        </div>
    </section>