<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">INTRODUCTION</h2>
                </div>
            </div>
            <div class="row container">
                </p>
                <style>
                .paragraph {
                    margin-bottom: 20px;
                }
                #introh1-div {
                    padding-top: 10px;
                }
                #introh1 {
                    font-size:  50px;
                    line-height: 40px;
                }
                .introp {
                    font-size:22px;
                    line-height: 28px;
                    color: #000000;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }
                .themeli {
                    font-size: 20px;
                    line-height: 28px;
                }
                .center {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                </style>

                <div class="paragraph">
                    <p class="introp"">
                        The 2nd Workshop on Computational Mathematics Modeling in Cancer Analysis (CMMCA2023) will be held in the frame of the 26th International Conference on Medical Image Computing and Computer Assisted Intervention, MICCAI 2023! The workshop will take place on October 8th, 2023. The main scope of this workshop is to help advance the scientific researches within the broad field of computational mathematics in cancer analysis. This workshop will focus on major trends and challenges in theoretical, computational and applied aspects of mathematical in cancer data analysis and will present works aimed to identifying new cutting-edge techniques and their uses cancer data analysis. We hope that the workshop will provide a unique opportunity for in-depth technical discussions and exchange of ideas in all areas involving mathematical and computational sciences, modeling and simulations, thereby bringing novel insights into cancer research and clinic.
                    </p>
                    <p class="introp">
                        To bring together mathematicians, biomedical engineers, computer scientists, and physicians, we hold this workshop for you to discuss novel mathematical methods for multimodal cancer data analysis, which can be applied in clinical such as cancer subtype classification and prognostic prediction. Promoting researchers to propose new methods of cancer data analysis with strong interpretability which combine clinical data and algorithms based on rigorous mathematical theory. This allows a deeper exploration of cancer from the perspective of computational science, such as the mapping of biological and computational correlations among multiple omics data at various scales. The multimodal cancer data include but are not limited to radiographic, pathology, genomics, proteomics, etc. CMMCA 2023 will feature a single-track workshop with keynote speaker(s), technical paper presentations and poster sessions.
                    </p>
                </div>

                <div class="paragraph">
                    <div id="introh1-div">
                        <h1 id="introph1">theme</h1>
                    </div>
                    <p class="introp"">
                        Topics of this workshop include (but are not limited to) computational mathematics modeling (e.g., Deep learning, Differential equation, Multi-scale modeling, Cellular automaton, Spatial graph network, Nonlinear dynamical systems, and Probability methods) with applications to:
                    </p>
                    <ul class="themeul">
                        <li class="themeli">Interpretability-based learning mathematics theory for cancer imaging analysis;</li>
                        <li class="themeli">Medical image analysis of anatomical structures/functions and tumors;</li>
                        <li class="themeli">Computer-aided tumor detection/diagnosis;</li>
                        <li class="themeli">Multi-modality fusion for cancer analysis, diagnosis, and surgery/treatment plans;</li>
                        <li class="themeli">Molecular/pathologic/cellular image analysis in the microenvironment, immunity, invasion, treatment, and resistance;</li>
                        <li class="themeli">Computational modeling characterizes tumor growth, metabolism, evolution;</li>
                        <li class="themeli">Topological tumor graphs for prognosis analysis;</li>
                        <li class="themeli">Biologically-based mathematical modeling in tumor vasculature and angiogenesis.</li>
                        <li class="themeli"s>Spatiotemporal modeling for heterogeneity and evolution of the tumor microenvironment</li>
                    </ul>
                </div>
                <div>
                    <div id="introh1-div">
                        <h1 id="intorph1">REVIEW</h1>
                    </div>
                    <p class="introp">
                        Click this link to visit the website of the first Workshop on Computational Mathematics Modeling in Cancer Analysis (CMMCA2022):
                        <br>
                        <ul>
                            <li class="themeli"><a href="https://cmmca2022.casconf.cn/" target="_blank">https://cmmca2022.casconf.cn/</a></li>
                        </ul>
                    </p>
                </div>
                 
            </div>
        </div>
    </section>