<!-- Services Section -->
        <div class="container">
            <div class="row container">
                </p>
                <style>
                .newspara {
                    margin-bottom: 0px;
                }
                #introh1-div {
                    padding-top: 10px;
                }
                #introh1 {
                    font-size:  50px;
                    line-height: 40px;
                }
                .introp {
                    font-size:22px;
                    line-height: 28px;
                    color: #000000;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }
                .themeli {
                    font-size: 20px;
                    line-height: 28px;
                }
                .center {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                </style>

                <div class="newspara">
                    <div id="introh1-div">
                        <h1 id="introph1">news</h1>
                    </div>
                    <ul class="themeul">
                        <li class="themeli">[07/04/2023] We are glad to notify you that CMMCA2023 is cooperation with Computerized Medical Imaging and Graphics (GMIG) for a special issue! Some of the best papers announced in the workshop will be invited for their extensions of works to publication in the special issue and go through a peer view process. </li>
                        <li class="themeli">[25/02/2023] We are happy to announce our workshop will be held at MICCAI2023! See you in Vancouver, Canada!</li>
                    </ul>
                </div>

                <!-- <div class="paragraph">
                    <div id="introh1-div">
                        <h1 id="introph1">theme</h1>
                    </div>
                    <p class="introp"">
                        Topics of this workshop include (but are not limited to) computational mathematics modeling (e.g., Deep learning, Differential equation, Multi-scale modeling, Cellular automaton, Spatial graph network, Nonlinear dynamical systems, and Probability methods) with applications to:
                    </p>
                    <ul class="themeul">
                        <li class="themeli">Interpretability-based learning mathematics theory for cancer imaging analysis;</li>
                        <li class="themeli">Medical image analysis of anatomical structures/functions and tumors;</li>
                        <li class="themeli">Computer-aided tumor detection/diagnosis;</li>
                        <li class="themeli">Multi-modality fusion for cancer analysis, diagnosis, and surgery/treatment plans;</li>
                        <li class="themeli">Molecular/pathologic/cellular image analysis in the microenvironment, immunity, invasion, treatment, and resistance;</li>
                        <li class="themeli">Computational modeling characterizes tumor growth, metabolism, evolution;</li>
                        <li class="themeli">Topological tumor graphs for prognosis analysis;</li>
                        <li class="themeli">Biologically-based mathematical modeling in tumor vasculature and angiogenesis.</li>
                        <li class="themeli"s>Spatiotemporal modeling for heterogeneity and evolution of the tumor microenvironment</li>
                    </ul>
                </div>
                <div>
                    <div id="introh1-div">
                        <h1 id="intorph1">REVIEW</h1>
                    </div>
                    <p class="introp">
                        Click this link to visit the website of the first Workshop on Computational Mathematics Modeling in Cancer Analysis (CMMCA2022):
                        <br>
                        <ul>
                            <li class="themeli"><a href="https://cmmca2022.casconf.cn/">https://cmmca2022.casconf.cn/</a></li>
                        </ul>
                    </p>
                </div> -->
                 
            </div>
        </div>