<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>

            <div class="row container">
                </p>
                <style>
                .paragraph {
                    margin-bottom: 20px;
                    word-wrap: break-word;
                }

                #introh1-div {
                    padding-top: 10px;
                }

                #introh1 {
                    font-size: 50px;
                    line-height: 40px;
                }

                .introp {
                    font-size: 22px;
                    line-height: 28px;
                    color: #000000;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }

                .themeli {
                    font-size: 20px;
                    line-height: 28px;
                }

                .center {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                </style>


                <div class="paragraph">
                    <p class="introp">
                        Our programme can be <a href="https://drive.google.com/file/d/1y5rRPDsIuR1hx5XTzTwFADx0ljOZztgv/view?usp=sharing" target="_blank"><b>find here</b></a>. Our workshop will take place in a hybrid format, with both in person and online sessions running simultaneously. Glad to see you on Oct.8.
                    </p>
                </div>

                <div class="content">
                    <a id="oral_sessions_l"></a>
                    <h3 class="title">Long Oral</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Paper ID<th>Title <!-- <th>Authors<th>Time Slot -->
                        </thead>
                        <!-- <tr>
                            <td>1<td>Flow-based Visual Quality Enhancer for Super-resolution Magnetic Resonance Spectroscopic Imaging<td>Siyuan, Dong; Gilbert, Hangel, Eric, Z. Chen; Shanhui, Sun; Wolfgang, Bogner; Georg, Widhalm; Chenyu, You; John, A. Onofrey; Robin, A. de Graaf; James, S. Duncan<td>9:15 AM - 9:40 AM
                        -->
                        <tr>
                            <td>26<td>Towards generalised neural implicit representations for image registration
                        <tr>
                            <td>30<td>ViT-DAE: Transformer-driven Diffusion Autoencoder for Histopathology Image Analysis
                        <tr>
                            <td>31<td>Anomaly Guided Generalizable Super-Resolution of Chest X-Ray Images using Multi-Level Information Rendering
                        <tr>
                            <td>9<td>A 3D generative model of pathological multi-modal MR images and segmentations
                        <tr>
                            <td>23<td>Pre-Training with Diffusion models for Dental Radiography segmentation
                        <tr>
                            <td>32<td>Ultrasound Image Reconstruction with Denoising Diffusion Restoration Models
                        <tr>
                            <td>36<td>Diffusion Model Based Knee Cartilage Segmentation in MRI
                        <tr>
                            <td>37<td>Semantic Image Synthesis for Abdominal CT
                        <tr>
                            <td>42<td>Reference-Free Isotropic 3D EM Reconstruction using Diffusion Models
                    </table>

                
            </div>
        </div>
    </section>