<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>

            <div class="row container">
                </p>
                <style>
                .paragraph {
                    margin-bottom: 20px;
                    
                }

                #introh1-div {
                    padding-top: 10px;
                }

                #introh1 {
                    font-size: 50px;
                    line-height: 40px;
                }

                .introp {
                    font-size: 22px;
                    line-height: 28px;
                    color: #000000;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }

                .themeli {
                    font-size: 20px;
                    line-height: 28px;
                }

                .center {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                </style>


                <div class="paragraph">
                    <p class="introp">
                        <span class="time">Our programme can be <a href="https://drive.google.com/file/d/1pTuPLk--c7G8P1mKDx3YXNaD3UyLvWwa/view?usp=sharing" target="_blank"><b>find here</b></a>. Our workshop will take place in a hybrid format, with both in person and online sessions running simultaneously. Glad to see you on Oct.8.</span></li>
                    </p>
                </div>

                
            </div>
        </div>
    </section>