<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>

            <div class="row container">
                </p>
                <style>
                .paragraph {
                    margin-bottom: 20px;
                    word-wrap: break-word;
                }

                #introh1-div {
                    padding-top: 10px;
                }

                #introh1 {
                    font-size: 50px;
                    line-height: 40px;
                }

                .introp {
                    font-size: 22px;
                    line-height: 28px;
                    color: #000000;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }

                .themeli {
                    font-size: 20px;
                    line-height: 28px;
                }

                .center {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                </style>


                <div class="paragraph">
                    <p class="introp">
                        Our programme can be <a href="https://drive.google.com/file/d/1y5rRPDsIuR1hx5XTzTwFADx0ljOZztgv/view?usp=sharing" target="_blank"><b>find here</b></a>. Our workshop will take place in a hybrid format, with both in person and online sessions running simultaneously. Glad to see you on Oct.8.
                    </p>
                </div>

                <div class="content">
                    <a id="oral_sessions_l"></a>
                    <h3 class="title">Post List</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Paper ID<th>Title <!-- <th>Authors<th>Time Slot -->
                        </thead>
                        <!-- <tr>
                            <td>1<td>Flow-based Visual Quality Enhancer for Super-resolution Magnetic Resonance Spectroscopic Imaging<td>Siyuan, Dong; Gilbert, Hangel, Eric, Z. Chen; Shanhui, Sun; Wolfgang, Bogner; Georg, Widhalm; Chenyu, You; John, A. Onofrey; Robin, A. de Graaf; James, S. Duncan<td>9:15 AM - 9:40 AM
                        -->
                        <tr>
                            <td>1<td><a href="https://drive.google.com/file/d/1DPX6HIIHefeSteHFcHaxE7XjrX3_HTA4/view?usp=sharing" target="_blank"><b>Virtual Contrast-enhanced MRI Synthesis with High Model Generalizability Using Trusted Federated Learning (FL-TrustVCE): A Multi-institutional Study</b></a>
                        <tr>
                            <td>3<td><a href="https://drive.google.com/file/d/1JkOkvmYH8ETDgiMCaG_xyngekNgsrS14/view?usp=sharing" target="_blank"><b>Label-efficient Cross-resolution Polyp Segmentation in Colonoscopy</b></a>
                        <tr>
                            <td>6<td><a href="https://drive.google.com/file/d/1yXpAFxXpv-9wyBkpSUGgXdfkGG5Rhiov/view?usp=sharing" target="_blank"><b>The Value of Ensemble Learning Model Based on Conventional Non-Contrast MRI in the Pathological Grading of Cervical Cancer</b></a>
                        <tr>
                            <td>7<td><a href="https://drive.google.com/file/d/1chz1kspP_0efqsl2nV78YUkXqdcTH37b/view?usp=sharing" target="_blank"><b>Federated Multi-organ Dynamic Attention Segmentation Network with Small CT Dataset</b></a>
                        <tr>
                            <td>8<td><a href="https://drive.google.com/file/d/1t0eBZvt9fEM2LOKHlZkzNor4zVZ_2sKa/view?usp=sharing" target="_blank"><b>A 3D Inverse Solver for a Multi-Species PDE Model of Glioblastoma Growth</b></a>
                        <tr>
                            <td>11<td><a href="https://drive.google.com/file/d/1glnRRkYXPP0_utIEmFrC9iFnx2KwiNTU/view?usp=sharing" target="_blank"><b>Domain Knowledge adapted Semi-Supervised Learning with mean-teacher strategy for Circulating Abnormal Cells Identification</b></a>
                        <tr>
                            <td>13<td><a href="https://drive.google.com/file/d/1-Yczn0Tsh9tIsDQwpTjFpedoMStElvEj/view?usp=sharing" target="_blank"><b>Advancing Delineation of Gross Tumor Volume Based on Magnetic Resonance Imaging by Performing Source-Free Domain Adaptation in Nasopharyngeal Carcinoma</b></a>
                        <tr>
                            <td>16<td><a href="https://drive.google.com/file/d/1CCPcx3TjhhcJeRdU5978ciSoEyey8Bug/view?usp=sharing" target="_blank"><b>BM-SMIL: A Breast Cancer Molecular Subtype Prediction Framework for H&E Slides with Self-supervised Pretraining and Multi-instance Learning</b></a>
                        <tr>
                            <td>18<td><a href="https://drive.google.com/file/d/1nOHrzBlpoKZBX1yeeP1yJD7Ca4wx7vdi/view?usp=sharing" target="_blank"><b>PET-3DFlow: A Normalizing Flow Based Method for 3D PET Anomaly Detection</b></a>
                        <tr>
                            <td>19<td><a href="https://drive.google.com/file/d/1ctkPIHB7I97YTDUukEZq1UmdBs8P05_9/view?usp=sharing" target="_blank"><b>Fully convolutional transformer-based GAN for Cross-Modality CT to PET Image Synthesis</b></a>
                        <tr>
                            <td>20<td><a href="https://drive.google.com/file/d/1BwAHVBRIkvLL8E-eImZhhtcYn7nED0Gx/view?usp=sharing" target="_blank"><b>Contrast Learning Based Robust Framework for Weakly Supervised Medical Image Segmentation with Coarse Bounding Box Annotations</b></a>
                        <tr>
                            <td>22<td><a href="https://drive.google.com/file/d/1HJNSc7x5koBA_JSH3r960gzrigMNA_uY/view?usp=sharing" target="_blank"><b>MPSurv: End-to-end Multi-model Pseudo-label Model for Brain Tumor Survival Prediction with Population Information Integration</b></a>
                        <tr>
                            <td>23<td><a href="https://drive.google.com/file/d/11CJCLJAA3P-PPbQR2nhs1J2tvDsocY6Y/view?usp=sharing" target="_blank"><b>Shape-aware diffusion model for tumor segmentation on Gd-EOB-DTPA MRI images of hepatocellular carcinoma</b></a>
                        <tr>
                            <td>25<td><a href="https://drive.google.com/file/d/10xT8TANzNfZoOiVJcYx0mVegEjsD_Hgp/view?usp=sharing" target="_blank"><b>Automated Segmentation of Nasopharyngeal Carcinoma based on Dual-Sequence Magnetic Resonance Imaging Using Self-supervised Learning</b></a>
                        <tr>
                            <td>26<td><a href="https://drive.google.com/file/d/1_86Rihj8liXL3dD_ZopmtH7aZe-vMByi/view?usp=sharing" target="_blank"><b>MetaRegNet: Metamorphic Image Registration Using Flow-Driven Residual Networks</b></a>
                    </table>

                
            </div>
        </div>
    </section>