<!-- Services Section -->
    <section id="submission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">submission</h2>
                </div>
            </div>
            <div class="row container">
                </p>
                <style>
                .paragraph {
                    margin-bottom: 20px;
                }
                #introh1-div {
                    padding-top: 10px;
                }
                #introh1 {
                    font-size:  50px;
                    line-height: 40px;
                }
                .introp {
                    font-size:22px;
                    line-height: 28px;
                    color: #000000;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }
                .themeli {
                    font-size: 20px;
                    line-height: 28px;
                }
                .center {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                </style>

                <div class="paragraph">
                    <p class="introp">
                        Papers will be limited to up to <b>8 pages (including text, figures and tables) and up to 2 pages of reference</b> and enabled for double-blind reviewing. All submissions will be peer-reviewed by at least 2 members of the program committee. The selection of the papers will be based on the significance of results, technical merit(s), relevance, and clarity of presentation. The final program will consist of previously unpublished and contributed papers with substantial time allocated to discussion. In case of acceptance, at least one author has to register and present the paper at CMMCA2023.
                    </p>
                    <p class="introp">
                        The paper submission system will be opened on <b>April 10th, 2023</b>. Each paper must be submitted with Primary and Secondary areas selected from Conference Management Toolkit (CMT) system: <a href="https://cmt3.research.microsoft.com/CMMCA2023/Submission/Index" target="_blank">https://cmt3.research.microsoft.com/CMMCA2023/Submission/Index</a>. Find out the submission system here or search <i>The 2nd Workshop on Computational Mathematics Modeling in Cancer Analysis in CMT system</i>.
                    </p>
                    <p class="introp">
                        The full manuscript submission deadline will be <b>23:59, Pacific Time, June 25th, 2023</b>. Please check the programme on the website for further details on the review schedule.
                    </p>
                    <p class="introp">
                        Electronic paper proceedings will be arranged. Accepted papers will be published in a Springer Lecture Notes in Computer Science (LNCS) proceeding. Please refer to the submission format guidelines of MICCAI2023 and the LNCS authors’ information page for details.  <a href="https://conferences.miccai.org/2023/en/PAPER-SUBMISSION-AND-REBUTTAL-GUIDELINES.html" target="_blank">(https://conferences.miccai.org/2023/en/PAPER-SUBMISSION-AND-REBUTTAL-GUIDELINES.html)</a>. Failure to abide by the formatting guidelines will result in immediate rejection of the paper.
                    </p>
                    <p class="introp">
                        Besides, CMMCA2023 is in cooperation with <b>Computerized Medical Imaging and Graphics (GMIG) for a special issue</b>. Some of the best papers announced in the workshop will be invited for their extensions of works to publication in the special issue, and all papers will go through a peer view process. Please notice our news update for the submission. 
                    </p>
                    <p class="introp">
                        To avoid conflict of interest between authors and reviewers, all co-author information and a complete and accurate list of domain conflicts must be entered in the submission form by the submission deadline. Your paper may be rejected if full authorship and domain conflicts are not disclosed.
                    </p>
                </div>

                <!-- <div class="paragraph">
                    <div id="introh1-div">
                        <h1 id="introph1">theme</h1>
                    </div>
                    <p class="introp"">
                        Topics of this workshop include (but are not limited to) computational mathematics modeling (e.g., Deep learning, Differential equation, Multi-scale modeling, Cellular automaton, Spatial graph network, Nonlinear dynamical systems, and Probability methods) with applications to:
                    </p>
                    <ul class="themeul">
                        <li class="themeli">Interpretability-based learning mathematics theory for cancer imaging analysis;</li>
                        <li class="themeli">Medical image analysis of anatomical structures/functions and tumors;</li>
                        <li class="themeli">Computer-aided tumor detection/diagnosis;</li>
                        <li class="themeli">Multi-modality fusion for cancer analysis, diagnosis, and surgery/treatment plans;</li>
                        <li class="themeli">Molecular/pathologic/cellular image analysis in the microenvironment, immunity, invasion, treatment, and resistance;</li>
                        <li class="themeli">Computational modeling characterizes tumor growth, metabolism, evolution;</li>
                        <li class="themeli">Topological tumor graphs for prognosis analysis;</li>
                        <li class="themeli">Biologically-based mathematical modeling in tumor vasculature and angiogenesis.</li>
                        <li class="themeli"s>Spatiotemporal modeling for heterogeneity and evolution of the tumor microenvironment</li>
                    </ul>
                </div>
                <div>
                    <div id="introh1-div">
                        <h1 id="intorph1">REVIEW</h1>
                    </div>
                    <p class="introp">
                        Click this link to visit the website of the first Workshop on Computational Mathematics Modeling in Cancer Analysis (CMMCA2022):
                        <br>
                        <ul>
                            <li class="themeli"><a href="https://cmmca2022.casconf.cn/">https://cmmca2022.casconf.cn/</a></li>
                        </ul>
                    </p>
                </div> -->
                 
            </div>
        </div>
    </section>